.full-page-container_login {
    height: 100vh !important;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2ms;
}

.content_login {
    height: 762px !important;
    width: 600px !important;
    border: 2px solid #fecd00;
    margin: 60px 0px 60px 0px;
    border-radius: 30px;
    padding: 30px;
    transition: all 2s !important;
}

.headerForLogoAndGreet {
    text-align: center;
    margin-top: 30px;
}

.headerLogo {
    height: 80px;
}

.headerLogoText {
    height: 80px;
}

.LoginButton {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #fecd00;
    color: white;
    font-size: 20px;
}

.ForgetPasswordBtn {
    margin-top: 10px;
    border: 0px;
    color: #fecd00;
    background-color: transparent;
}

@media (max-height: 768px) {

    .full-page-container_login {
        height: auto !important;
    }

    .content_login {
        height: auto !important;
        margin: 60px 0px 60px 0px;
    }

    .headerLogo {
        height: 70px !important;
    }

    .headerLogoText {
        height: 50px !important;
    }

    .headerForLogoAndGreet {
        text-align: center;
        margin: 0 !important;
    }
}