.full-page-container_login {
    height: 100vh !important;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow-y: auto;
}

.content_login {
    height: 762px !important;
    width: 100%;
    border: 2px solid #fecd00;
    border-radius: 30px;
    padding: 30px
}

.headerForLogoAndGreet {
    text-align: center;
    margin-top: 30px;
}

.headerLogo {
    height: 80px;
}

.headerLogoText {
    height: 50px;
}

.LoginButton {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #fecd00;
    color: white;
    font-size: 20px;
}

.ForgetPasswordBtn {
    margin-top: 10px;
    border: 0px;
    color: #fecd00;
    background-color: transparent;
}


