.full-page-container {
    height: 100vh;
    width: 100vw;
    padding: 40px 60px;
    border-radius: 30px;
}

.content {
    height: 100%;
    width: 100%;
    border: 2px solid gold;
    border-radius: 30px;
}

.headerForLogoAndGreet {
    text-align: center;
    margin-top: 30px;
}

.headerLogo {
    height: 120px;
}

.columnForInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit_button {
    width: 400px !important;
    border-radius: 10px;
    background-color: gold;
    height: 50px;
    color: white;
    border: 0px;
    font-size: 20px;
}
