.full-page-container_register {
    height: auto !important;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.columns {
    padding: 0px 40px 0px 40px;
}

.content_register {
    height: auto !important;
    width: 100% !important;
    border: 2px solid #fecd00;
    border-radius: 30px;
}

.headerForLogoAndGreet {
    text-align: center;
    padding: 15px;
}

h1{
    font-size: var(--font-size-xxx-large);
margin: 20px 0px 16px 0px;
}

.headerLogo {
    height: 120px;
}

.columnForInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit_button {
    width: 100% !important;
    border-radius: 10px;
    background-color: #fecd00;
    height: 50px;
    color: white;
    border: 0px;
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

.colorpart_register {
    height: auto !important;
    background-color: #fecd00;
    width: 25%;
}


