.navitem.active {
    background-color: #fecd00;
    color: white;
    font-weight: 800;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.navitem {
    font-size: var(--font-size-small);
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutbutton {
    font-size: var(--font-size-small);
    color: red;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.logoutbutton.active {
    background-color: red;
    color: white;
    font-weight: 800;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.createbutton:hover {
    color: #fecd00;
    border: 2px solid #fecd00;
    background-color: white;
}

.createbutton {
    font-size: var(--font-size-small);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fecd00;
    color: white;
    font-weight: 800;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn {
    width: 200px;
}

.logoutBtn {
    background-color: red;
    color: white;
    border: 0;
    transition: background-color 0.5ms ease;
}

.logoutBtn:hover {
    background-color: white;
    border: 1px solid red;
    color: red
}

.logoutBtn:focus{
    background-color: white;
    border: 1px solid red;
    color: red
}