.input_label_c {
    color: gold
}

.input_select_c {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #808080;
    width: 130px !important;
    height: 50px !important;
    margin-bottom: 5px;
}
