.input_label_threeinputs {
    color: gold
}


.input_input_threeinputs {
    margin-top: 3px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #808080;
    width: 80% !important;
    height: 50px !important;
}
