.input_c {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.input_label_c {
  font-weight: bold;
  color: #fecd00;
  margin-bottom: 5px !important;
  align-self: flex-start;
}

h5{
  font-size: var(--font-size-medium) !important;
}

.input_input_c {
  width: 100%;
  padding: 20px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size-small)  !important;
}

.input_input_c:focus {
  outline: none;
  border-color: #fecd00;
}