.input_c {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; 
    width: 100%; 
  }
  
  .input_label_c {
    font-weight: bold;
    color: #f7b600; 
    margin-bottom: 8px; 
    align-self: flex-start; 
  }
  
  .input_input_c {
    width: 100%;
    padding: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
  }
  
  .input_input_c:focus {
    outline: none;
    border-color: #f7b600; 
  }
  

