.input_label_c {
    color: gold
}


.input_input_file_c {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #808080;
    width: 400px !important;
    height: 50px !important;
}

  
  input[type="file"]::-webkit-file-upload-button {
    color: #fff;
    background-color: #007bff;
    border: 0px;
    padding: 4px 8px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .image-preview{
    height: 150px;
    width: auto;
    object-fit: contain;
  }