.postcard {
    border-radius: 14px;
    width: 350px !important;
    height: 100%;
    cursor: pointer;
    font-size: var(--font-size-small) !important;
}

.postcard-img {
    border-radius: 12px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.postcardmodal-img {
    border-radius: 12px;
    height: 400px;
    width: auto;
    object-fit: contain;
}

.event_nameToDelete{
    background-color: grey;
    padding: 6px;
    border-radius: 10px;
    color: white;
}

.event_nameToDelete:hover{
    background-color: white;
    color: red;
}

.postdates, .eventcode {
    font-size: var(--font-size-small) !important;
}

.departmenttab {
    background-color: #fecd00;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
}

.card-title {
    color: #fecd00;
    font-size: var(--font-size-x-large) !important;
    font-weight: var(--font-weight-medium);
}


.togglebutton {
    cursor: pointer;
    padding-right: 0px;
    border: 0;
    background-color: transparent;
    appearance: none;
    width: fit-content;
}

.editbtn, .deletebtn{
    padding: 10px 20px;
    border: 0px;
    width: 100%;
    height: 100% !important;
    background-color: transparent;
    color: black;
    font-weight: 400;
}

.eventNameToDelete{
    background-color: #ccc;
    padding: 5px 8px;
    border-radius: 4px;
}

.editbtn{
    border-bottom: 1px solid #ccc;
}

th{
    width: 20%;
}



.modal-body{
    color: black;
    font-weight: 400;
}

.modal-title:hover{
color: red;
font-weight: 600;
}

.eventInput{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}

.eventInput {
    width: 100%;
    padding: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
  }
  
  .eventInput:focus {
    outline: none;
    border-color: #fecd00; 
  }
  


