.full-page-container_createpost {
    height: auto !important;
    width: 100vw;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_createpost {
    height: auto !important;
    width: 100%;
    border: 2px solid gold;
    border-radius: 30px;
    margin-bottom: 50px;

}

.headers_createpost {
    text-align: center;
    margin-top: 30px;
}

.row_createpost {
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.preview-container_createpost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 150px;
    width: 100%;
    max-width: 100%;
    height: 600px;
    border-radius: 4px;
    overflow: hidden;
}

.image-preview_createpost {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.columns{
    padding: 0px 40px 0px 40px;
}

.preview-placeholder_createpost {
    border: 1px solid #ccc;
    padding: 250px 150px;
    font-size: 14px;
    color: #888;
    text-align: center;
}

.submitButtonForCreatePost {
    padding: 15px 100px;
    background-color: gold;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 800;
}

@media (max-width: 978px) {
    .full-page-container_createpost {
        padding: 15px
    }

  

    .columns{
        padding: 20px
    }

    .headers_createpost {
        text-align: center;
        padding: 15px;
        font-size: 13px;
    }

    .headerLogo{
        height: 60px !important;
    }

    h5{
        font-size: 18px;
    }

    h1{
        font-size: 26px;
    }
}





  