.input_label_textarea {
    color: #fecd00
}


.input_input_textarea {
    margin-top: 5px;
    padding: 20px !important;
    font-size: var(--font-size-small)  !important;
    border-radius: 6px;
    border: 1px solid #ccc; 
    width: 100% !important;
    height: 100px !important;
}

.input_input_textarea:focus{
    outline: none;
    border-color: #fecd00;
}

.character-limit-info span{
    color: #fecd00
}

h5{
    font-size: var(--font-size-medium) !important;
}