.input_password {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; 
    width: 100%; 
  }
  
  .input_label_password {
    font-weight: bold;
    color: gold; 
    margin-bottom: 8px; 
    align-self: flex-start; 
  }
  
  .input_input_password {
    width: 100%;
    padding: 16px 0px 16px 16px; 
    border: 1px solid #ccc;
    border-right: 0px; 
    border-radius: 4px 0px 0px 4px ; 
    font-size: 16px;
  }
  
  .input_password:focus-within .input_input_password,
  .input_password:focus-within .passwordBtn {
    outline: none;
    border-color: #f7b600; 
  }

  .passwordBtn{
    width: 100%;
    padding: 16px; 
    border: 1px solid #ccc;
    background-color: white; 
    border-radius: 0px 4px 4px 0px;
    border-left: 0px; 
    font-size: 16px;
  }
  