.input_password {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; 
    width: 100%; 
  }
  
  .input_label_password {
    font-weight: bold;
    color: #fecd00; 
    margin-bottom: 8px; 
    align-self: flex-start; 
  }
  
  .input_input_password {
    width: 100%;
    padding: 20px 0px 20px 20px !important; 
    border: 1px solid #ccc;
    border-right: 0px; 
    border-radius: 4px 0px 0px 4px ; 
    font-size: var(--font-size-small)  !important;
  }
  
  h5{
    font-size: var(--font-size-medium) !important;
  }
  
  .input_password:focus-within .input_input_password,
  .input_password:focus-within .passwordBtn {
    outline: none;
    border-color: #fecd00; 
  }

  .passwordBtn{
    width: 100%;
    padding: 20px !important; 
    border: 1px solid #ccc;
    background-color: white; 
    border-radius: 0px 4px 4px 0px;
    border-left: 0px; 
    font-size: var(--font-size-small)  !important;
  }
  