

.input_input_textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc; 
    width: 100% !important;
    height: 100px !important;
    white-space: pre-wrap;
}

.input_input_textarea:focus{
    outline: none;
    border-color: #fecd00;
}

.character-limit-info span{
    color: #fecd00
}